body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
/*.container{
  height: 100%;
}
*/body{
  background: url(../images/header.jpg) no-repeat center center fixed;
  background-size: cover;
}
h1{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.buffer{
  height: 10rem;
}
hr{
  max-width: 65px;
  border-top: solid 3px rgb(252, 72, 0);
  opacity: 1;
  margin: 10px auto;
  /*text-align: center !important;*/
  }
.btn{
  border-radius: 35px;
  padding: 15px 25px;
}
.btn-primary{
  background:rgba(252, 72, 0,0.9);
  border: solid 1px rgba(252, 72, 0, 0.9);

}
.btn-primary:hover{
  background:rgba(252, 72, 0,1);
  border: solid 1px rgba(252, 72, 0, 1);
  border-width: 2px;
}
.btn a{
  color: #fff;
  text-decoration: none;
}
